.container {
    padding: 20px 80px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    
}

body {
    min-width: 300px;
}
